<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>
</head>

<body>
    <div class="jumbotron">
        <h2><a href="home.html">Self Storage</a> </h2>
    </div> 
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h1>Student storage in Birmingham</h1>
                <p class="larger">Are you a student in Birmingham, in need of some self storage?<br><br>
                    We’ve got you covered! Storage solutions designed to put you in charge, whether it be a couple of boxes or an entire flat, we have the services for you.   </p>
                    <button class="btn btn-warning form-control">Get Storage Price</button>
            </div>
            <div class="col-lg-4">
                <img src="https://safestorage.in/assets/new_design_css/img/main-hero-img-mobile.png" >
            </div>
        </div>
        </div>
         <div class="jumbotron">
            <div class="container-narrow">
                <h2 class="text-center">Student storage in Birmingham made simple  </h2>
                <p class="text-center">If you’ve got items that can be boxed up, our by-the-box service is essential for you, if you have heavier items like furniture then you can store these in one of our storage units. One of the LOVESPACE team will then come to Birmingham to collect your stuff. Once it’s placed in storage it’s just a case of you requesting your items back, so we can deliver them to you! </p>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-2">
                        <center>
                        <img src="https://cdn-icons-png.flaticon.com/512/1067/1067555.png" style="height:100px ; width: 100px;"></center>
                        <h3 class="black text-center">We collect.</h3>
                        <p class="text-center">From any UK address as soon as the next day

                        </p>
                    </div>
                    <div class="col-md-2">
                        <center>
                        <img src="https://lovespace.co.uk/wp-content/themes/lovespace.9.9.3/assets/icons/main/we-store.svg" style="height:100px ; width: 100px;"></center>
                        <h3 class="black text-center">We store.
                        </h3>
                        <p class="text-center">Safely in one of our secure storage facilities</p>
                    </div>
                    <div class="col-md-2">
                        <center>
                         <img src="https://lovespace.co.uk/wp-content/themes/lovespace.9.9.3/assets/icons/main/we-deliver.svg" style="height:100px ; width: 100px;"></center>
                        <h3 class="black text-center">We deliver.
                        </h3>
                        <p class="text-center">Back to any UK address as soon as the next day</p></div>
                    <div class="col-md-3"></div>
                </div>
               
            </div>
            
        </div> 
         <div class="container-fluid">
            <h2 class="text-center mt-5">The best student storage packages in Birmingham </h2>
            <p class="text-center">Student friendly price plans which offer flexibility and convenience. Whether you’re looking for a month or a full year, LOVESPACE have the storage solutions for you.  </p>
            <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                <div class="card">
                    <h3 class="text-center mt-3">Storage by-the-box</h3>
                    <p class="text-center">Store your boxes and suitcases </p>
                    <center>
                    <img src="https://lovespace.co.uk/wp-content/themes/lovespace.9.9.3/assets/images/services/service-btb.png" style="height:175 px; width: 175px;"><br>
                    <a class="btn btn-primary mb-3" href="">Book storage by-the-box</a>
                    </center>
                </div>
                </div>
           
                <div class="col-md-3">
                    <div class="card">
                        <h3 class="text-center mt-3" >Storage units</h3>
                        <p class="text-center">Store your furniture & large items </p>
                        <center>
                        <img src="https://lovespace.co.uk/wp-content/themes/lovespace.9.9.3/assets/images/services/service-vsu.png" style="height:175 px; width: 175px;"><br>
                        <a class="btn btn-primary mb-3" href="">Book storage unit</a>
                        </center>
                    </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <h3 class="text-center mt-3">Shipping</h3>
                            <p class="text-center">Ship around the UK within a week </p>
                            <center>
                            <img src="https://lovespace.co.uk/wp-content/themes/lovespace.9.9.3/assets/images/services/service-shipping.png" style="height:175 px; width: 175px;"><br>
                            <a class="btn btn-primary mb-3" href="">Book shiping</a>
                            </center>
                        </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <h3 class="text-center mt-3">Packing & storage</h3>
                                <p class="text-center">Order storage with professional packing </p>
                                <center>
                                <img   src="https://lovespace.co.uk/wp-content/themes/lovespace.9.9.3/assets/images/services/service-packing.png" style="height:175 px; width: 175px;"><br>
                                <a class="btn btn-primary mb-3" href="">Book packing</a>
                                </center>
                            </div>
                            </div>
            </div>
            </div>
        </div> 
        <div class="container">
            <h2 class="text-center mt-5">Why Birmingham students use LOVESPACE</h2>
            <p class="text-center">We offer simple storage solutions to students, we collect, store and deliver your stuff, eradicating all the stress out of the process.  </p>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <center>
                            <img src="https://lovespace.co.uk/wp-content/themes/lovespace.9.9.3/assets/icons/main/we-collect.svg" style="height:100px ; width: 100px;"></center>
                        <h3 class="black text-center">We collect.</h3>
                        <p class="text-center">We collect from any mainland UK address, including your campuses in Birmingham.  </p><br><br><br>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <center>
                            <img src="https://lovespace.co.uk/wp-content/themes/lovespace.9.9.3/assets/icons/main/we-store.svg" style="height:100px ; width: 100px;"></center>
                        <h3 class="black text-center">We store.
                        </h3>
                        <p class="text-center">
                            Once we’ve collected your items, we will store them in one of our secure storage facilities. 
                        </p><br><br><br>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <center>
                                <img src="https://lovespace.co.uk/wp-content/themes/lovespace.9.9.3/assets/icons/main/we-deliver.svg" style="height:100px ; width: 100px;"></center>
                               <h3 class="black text-center">We deliver.
                               </h3>
                               <p class="text-center">Wherever in the mainland UK you’re heading, we’ve got you covered. We can deliver your stuff to you as fast as the next working day. For any international shipping enquiries, please do get in contact.  </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   <div class="container-fluid bg-warning">
    
        <div class="text-center">
            <h2  style="padding-top: 40px;">We Collect.We Store.We Deliver</h2>
            <button class="btn btn-info mt-5 mb-5">Get a Storage Price</button>
        </div>
 
   </div>
   <div class="container-fluid">
    
        <div class="text-center">
            <h3>PRocessed</h3>
        </div>
    </div>
 

</body>
</html>