<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>
</head>
<body>
    <div class="jumbotron">
        <h3>LOVESPACE</h3>
    </div> 
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div> 
           <div class="col-md-6">
               <h3 class="text-center"><b>Packing</b></h3>
               <p style="color: black;"><b>Do you have any furniture or large items which require 2 people to carry them?</b></p>
               <p>Items such as tables, beds, and sofas all require 2 people to carry them.</p>
               <input type="radio"> yes<br><br>
               <input type="radio"> No
               <p style="color: black;"><b>Do you want to add our professional packing service for £99.00?</b></p>
               <p>This includes up to £70 in free materials!</p>
               <input type="radio"> yes<br><br>
               <input type="radio"> No
               <p style="color: black;"><b>What floor do you live on?</b></p>
               <p>If you're living in a house, please select 'Ground floor'.</p>
               <select class="form-control">
                <option disabled="disabled" value>Please select</option>
                <option value="0">..</option>
                <option value="1">..</option>
                <option value="2">..</option>
               </select>
               <p style="color: black;"><b>Will you be present at the address on the day of collection?</b></p>
               <input type="radio"> yes<br><br>
               <input type="radio"> No
               
               
           </div>
           <div class="col-md-5">
               <div class="card bg-warning" >
                   <strong class="ms-3 mt-3 text-success">Due now - upfront payment</strong>
                   <div class="row">
                       <div class="col-sm-6">
                           <strong class="ms-3">1st month's storage</strong>
                           <p class="ms-3">15 sq ft (3' x 5')</p>
                           <strong class="ms-3">1st month's contents coverage</strong>
                           <p class="ms-3" >£2000 Coverage
                           </p>
                           <strong class="ms-3">Collection
                           </strong>
                           <p class="ms-3">Packing</p>
                           <p class="ms-3">Not chosen</p>

                       </div>
                       <div class="col-sm-6">
                           <a  href="">Edit
                           </a><br>
                           £79.00<br><br>
                           £12.95<br><br>
                           <a  href="">Edit
                        </a><br>
                        £85.00<br><br>
                        <a  href="">Edit
                        </a>
                       </div>
                   </div><hr>
                   
                  
                   

                   <div class="row">
                       <div class="col-md-6">
                           <strong class="ms-3">Total due today</strong>
                           
                       </div>
                       <div class="col-md-6">
                        £176.95


                       </div>
                   </div><hr>
                 
                   
                   
                <P class="ms-3" data-toggle="collapse" data-target="#demo"> Return charges apply</P>
  <div id="demo" class="collapse">
   <h3 class="ms-3">Return delivery</h3>
   <div class="row">
    <div class="col-md-8">Any standard, local return up to 50 ft3</div>
    <div class="col-md-4">£85.00</div>
    </div>
    <p class="ms-3">Pricing for larger returns can be found here.</p>
    <h3 class="ms-3">Box-only return delivery</h3>
    <div class="row">
        <div class="col-md-8">Single box delivered to ground floor, standard rate</div>
        <div class="col-md-4">£5.95/box</div>
    </div>
   
  </div>
               </div>
           </div>
           <!-- <div class="col-md-1"></div> -->
       </div>
    </div>
</body>
</html>