<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="assets/js/pricing.js"></script>
    <style>
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        #viewpromo {
            display: none;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>

</head>

<body>
    <div class="jumbotron">
        <h3>LOVESPACE</h3>
    </div>
    <div class="container">

    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <p><b>How long are you storing?</b></p>
                <p id="message" class="mb-3" style="margin-top: -10px;">The longer you store, the more you save.</p>
                <div class="row">
                    <div class="col-md-12">

                        <select class="form-control btn btn-warning">
                            <option class="btn btn-light">1 Month</option>
                            <option class="btn btn-light">2 Month</option>
                            <option class="btn btn-light">3 Month</option>
                            <option class="btn btn-light"> 4 Month</option>
                            <option class="btn btn-light">5 Month</option>
                            <option class="btn btn-light">6 Month</option>
                            <option class="btn btn-light"> 7 Month</option>
                            <option class="btn btn-light">8 Month</option>
                            <option class="btn btn-light">9 Month</option>
                            <option class="btn btn-light">10 Month</option>
                            <option class="btn btn-light">11 Month</option>
                            <option class="btn btn-light">12 Month</option>
                        </select>
                    </div>

                </div>
                <div class="row">
                    <p id="messageShow" class="mt-3">You've selected a rolling monthly plan, order your boxes back
                        anytime.</p>
                </div>
                <hr>
                <div class="container me-5" style="margin-left: -37px;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="m-4">



                                <!-- Trigger Buttons HTML -->
                                <p><b>What are You Storing?</b>
                                    <!-- <h2>What are You Storing?</h2> -->
                                    <button type="button" class="btn btn-link ms-4" data-bs-toggle="collapse"
                                        data-bs-target="#myCollapse"><img
                                            src="https://www.iconpacks.net/icons/2/free-arrow-down-icon-3101-thumb.png"
                                            style="height:20px ;width: 20px;" alt=""></button>
                                </p>
                                <!-- Collapsible Element HTML -->

                                <div class="collapse" id="myCollapse">
                                    <button class="btn btn-link" onclick="smallbox()"><i class="fa fa-angle-up"
                                            aria-hidden="true"
                                            style="margin-bottom: -500px;margin-left: 4px;"></i></button>
                                    <br>
                                    <input style="height: 40px;width: 40px;text-align: center;" id="sm1" type="number"
                                        value="0" /><strong>&nbsp&nbsp&nbspSmall Box
                                        &nbsp&nbsp&nbsp&nbsp$35</strong><br>
                                    <button class="btn btn-link" onclick="smallboxDec()"><i class="fa fa-angle-down"
                                            style="margin-left: 4px;" aria-hidden="true"></i></button>
                                </div>
                                <div class="collapse" id="myCollapse">
                                    <button class="btn btn-link" onclick="mbox()"><i class="fa fa-angle-up"
                                            aria-hidden="true"
                                            style="margin-bottom: -500px;margin-left: 4px;"></i></button>
                                    <br>
                                    <input style="height: 40px;width: 40px;text-align: center;" id="md" type="number"
                                        value="0" /><strong>&nbsp&nbsp&nbspMedium Box
                                        &nbsp&nbsp&nbsp&nbsp$70</strong><br>
                                    <button class="btn btn-link" onclick="mboxDec()"><i class="fa fa-angle-down"
                                            style="margin-left: 4px;" aria-hidden="true"></i></button>
                                </div>
                                <div class="collapse" id="myCollapse">
                                    <button class="btn btn-link" onclick="lbox()"><i class="fa fa-angle-up"
                                            aria-hidden="true"
                                            style="margin-bottom: -500px;margin-left: 4px;"></i></button>
                                    <br>
                                    <input style="height: 40px;width: 40px;text-align: center;" id="lg" type="number"
                                        value="0" /><strong>&nbsp&nbspLarge Box &nbsp&nbsp&nbsp&nbsp$90</strong><br>
                                    <button class="btn btn-link" onclick="lboxDec()"><i class="fa fa-angle-down"
                                            style="margin-left: 4px;" aria-hidden="true"></i></button>
                                </div>
                                <div class="collapse" id="myCollapse">
                                    <button class="btn btn-link" onclick="suitCase()"><i class="fa fa-angle-up"
                                            aria-hidden="true"
                                            style="margin-bottom: -500px;margin-left: 4px;"></i></button>
                                    <br>
                                    <input style="height: 40px;width: 40px;text-align: center;" type="number" value="0"
                                        id="suit" /><strong>&nbsp&nbsp&nbspMedium SuitCase
                                        &nbsp&nbsp&nbsp&nbsp$19</strong><br>
                                    <button class="btn btn-link" onclick="suitCaseDec()"><i class="fa fa-angle-down"
                                            style="margin-left: 4px;" aria-hidden="true"></i></button>
                                </div>
                                <div class="collapse" id="myCollapse">
                                    <button class="btn btn-link" onclick="lsuitcase()"><i class="fa fa-angle-up"
                                            aria-hidden="true"
                                            style="margin-bottom: -500px;margin-left: 4px;"></i></button>
                                    <br>
                                    <input style="height: 40px;width: 40px;text-align: center;" id="lsuit" type="number"
                                        value="0" /><strong>&nbsp&nbsp&Large SuitCase
                                        &nbsp&nbsp&nbsp&nbsp$21</strong><br>
                                    <button class="btn btn-link" onclick="lsuitcaseDec()"><i class="fa fa-angle-down"
                                            style="margin-left: 4px;" aria-hidden="true"></i></button>
                                </div>
                                <div class="collapse" id="myCollapse">
                                    <button class="btn btn-link" onclick="crockery()"><i class="fa fa-angle-up"
                                            aria-hidden="true"
                                            style="margin-bottom: -500px;margin-left: 4px;"></i></button>
                                    <br>
                                    <input style="height: 40px;width: 40px;text-align: center;" type="number" value="0"
                                        id="crock" /><strong>&nbsp&nbsp&Crockery box
                                        &nbsp&nbsp&nbsp&nbsp$13</strong><br>
                                    <button class="btn btn-link" onclick="crockeryDec()"><i class="fa fa-angle-down"
                                            style="margin-left: 4px;" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <form action="" method="post">
                <div class="container me-5" style="margin-left: -37px;">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="m-4">

                                <!-- Trigger Buttons HTML -->
                                <p><b>Got a bike,furniture or other stuff?</b>
                                    <!-- <h2>What are You Storing?</h2> -->
                                    <button type="button" class="btn btn-link ms-4" data-bs-toggle="collapse"
                                        data-bs-target="#myCollapse1"><img
                                            src="https://www.iconpacks.net/icons/2/free-arrow-down-icon-3101-thumb.png"
                                            style="height:20px ;width: 20px;" alt=""></button>
                                </p>
                                <!-- Collapsible Element HTML -->
                                <div class="collapse" id="myCollapse1" style="border: 0px;">
                                    <p>Your larger box or furniture must be able to be lifted and moved by our driver -
                                        if it requires more than 1 person, such as a sofa, bed or wardrobe, you must
                                        book a storage unit. Your box or piece of furniture cannot have a combined
                                        width, height and length greater than 150cm. Our drivers will refuse the
                                        collection of your larger box or furniture if it exceeds 150cm.</p>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <button class="btn btn-link" onclick="bike()"><i class="fa fa-angle-up"
                                                    aria-hidden="true"
                                                    style="margin-bottom: -500px;margin-left: 4px;"></i></button>
                                            <br>
                                            <input style="height: 40px;width: 40px;text-align: center;" type="number"
                                                value="0" id="bike" /><strong>&nbsp&nbspBike
                                                &nbsp&nbsp&nbsp&nbsp$13.5</strong><br>
                                            <button class="btn btn-link" onclick="bikeDec()"><i class="fa fa-angle-down"
                                                    style="margin-left: 4px;" aria-hidden="true"></i></button>
                                        </div>
                                        <div class="col-md-4">
                                            <button class="btn btn-link" onclick="guiter()"><i class="fa fa-angle-up"
                                                    aria-hidden="true"
                                                    style="margin-bottom: -500px;margin-left: 4px;"></i></button>
                                            <br>
                                            <input style="height: 40px;width: 40px;text-align: center;" type="number"
                                                value="0" id="guiter" /><strong>&nbsp&nbspGuiter
                                                &nbsp&nbsp&nbsp&nbsp$13.5</strong><br>
                                            <button class="btn btn-link" onclick="guiterDec()"><i
                                                    class="fa fa-angle-down" style="margin-left: 4px;"
                                                    aria-hidden="true"></i></button>
                                        </div>
                                        <div class="col-md-4">
                                            <button class="btn btn-link" onclick="keyboard()"><i class="fa fa-angle-up"
                                                    aria-hidden="true"
                                                    style="margin-bottom: -500px;margin-left: 4px;"></i></button>
                                            <br>
                                            <input style="height: 40px;width: 40px;text-align: center;" type="number"
                                                value="0" id="keyboard" /><strong>&nbsp&nbspKeyboard
                                                &nbsp&nbsp&nbsp&nbsp$13.5</strong><br>
                                            <button class="btn btn-link" onclick="keyboardDec()"> <i
                                                    class="fa fa-angle-down" style="margin-left: 4px;"
                                                    aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <button class="btn btn-link" onclick="tv()"><i class="fa fa-angle-up"
                                                    aria-hidden="true"
                                                    style="margin-bottom: -500px;margin-left: 4px;"></i></button>
                                            <br>
                                            <input style="height: 40px;width: 40px;text-align: center;" type="number"
                                                value="0" id="tv" /><strong>&nbsp&nbspTV
                                                &nbsp&nbsp&nbsp&nbsp$13.5</strong><br>
                                            <button class="btn btn-link" onclick="tvDec()"><i class="fa fa-angle-down"
                                                    style="margin-left: 4px;" aria-hidden="true"></i></button>
                                        </div>
                                        <div class="col-md-4">
                                            <button class="btn btn-link" onclick="clothrack()"><i class="fa fa-angle-up"
                                                    aria-hidden="true"
                                                    style="margin-bottom: -500px;margin-left: 4px;"></i></button>
                                            <br>
                                            <input style="height: 40px;width: 40px;text-align: center;" type="number"
                                                value="0" id="rack" /><strong>&nbsp&nbspClothes rack
                                                &nbsp&nbsp&nbsp&nbsp$13.5</strong><br>
                                            <button class="btn btn-link" onclick="clothrackDec()"><i
                                                    class="fa fa-angle-down" style="margin-left: 4px;"
                                                    aria-hidden="true"></i></button>
                                        </div>
                                        <div class="col-md-4">
                                            <button class="btn btn-link" onclick="iron()"><i class="fa fa-angle-up"
                                                    aria-hidden="true"
                                                    style="margin-bottom: -500px;margin-left: 4px;"></i></button>
                                            <br>
                                            <input style="height: 40px;width: 40px;text-align: center;" type="number"
                                                value="0" id="iron" /><strong>&nbsp&nbspIroning board
                                                &nbsp&nbsp&nbsp&nbsp$13.5</strong><br>
                                            <button class="btn btn-link" onclick="ironDec()"><i class="fa fa-angle-down"
                                                    style="margin-left: 4px;" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-12">
                                            <button class="btn btn-link" onclick="otheritem()"><i class="fa fa-angle-up"
                                                    aria-hidden="true"
                                                    style="margin-bottom: -500px;margin-left: 4px;"></i></button>
                                            <br>
                                            <input style="height: 40px;width: 40px;text-align: center;" type="number"
                                                value="0" id="otheritem" /><strong>&nbsp&nbspOther small item
                                                &nbsp&nbsp&nbsp&nbsp$13.5</strong><br>
                                            <button class="btn btn-link" onclick="otheritemDec()"><i
                                                    class="fa fa-angle-down" style="margin-left: 4px;"
                                                    aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                    <hr>

                                </div>
                                <div class="row">

                                    <div class="col-md-12">
                                       <button class="btn btn-warning form-control"> <a href="address.html">Continue</a>
                                    </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="container" style="width: 450px;">
                    <div class="card bg-warning">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-7">

                                            <button class="btn btn-info mt-5 ms-5" onclick="promocode()"
                                                id="btnview">+Promo Code</button>
                                            <h5 class="mt-5  text-light" id="viewmessage"
                                                style="display: none;margin-top:55px!important;">Enter Promo Code </h5>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control mt-5 " id="viewpromo" name="promo">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <h5 class="mt-5 ms-3 text-light">Monthly Cost Estimated</h5>
                            </div>
                            <div class="col-md-5">
                                <input class="mt-5 mb-5 form-control" type="text" name="" id="totalamount" value="HR$ 0" style="width: 140px;" disabled/>
                                        
                                </div>
                            </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" id="status1" class="form-control bg-warning" style="border: 0px;" readonly>
                                <input type="text" id="status2" class="form-control bg-warning" style="border: 0px;"  readonly>

                                <input type="text" id="status3" class="form-control bg-warning" style="border: 0px;"  readonly>
                                <input type="text" id="status4" class="form-control bg-warning" style="border: 0px;"  readonly>
                                <input type="text" id="status5" class="form-control bg-warning" style="border: 0px;"   readonly>

                                <input type="text" id="status6" class="form-control bg-warning" style="border: 0px;"  readonly>
                                <input type="text" id="status7" class="form-control bg-warning" style="border: 0px;" readonly>
                                <input type="text" id="status8" class="form-control bg-warning" style="border: 0px;"  readonly>

                                <input type="text" id="status9" class="form-control bg-warning" style="border: 0px;"  readonly>
                                <input type="text" id="status10" class="form-control bg-warning" style="border: 0px;"  readonly>
                                <input type="text" id="status11" class="form-control bg-warning" style="border: 0px;"   readonly>

                                <input type="text" id="status12" class="form-control bg-warning" style="border: 0px;"  readonly>
                                <input type="text" id="status13" class="form-control bg-warning" style="border: 0px;"  readonly>
                            </div>
                        </div>
                        </div>
                    </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- <div class="col-md-1"></div> -->
    </div>
    </div>
    <script>
        function promocode() {
            document.getElementById('viewpromo').style.display = 'block';
            document.getElementById('btnview').style.display = 'none';
            document.getElementById('viewmessage').style.display = 'block';
        }
    </script>
</body>

</html>